@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Está jalando perrita!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Github e integración cont&iacute;nua</a>.</p>
</div>
